.board {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(22em, 1fr));
  gap: 1rem;
}
.board > div {
  border: 1px solid black;
}

.dragging {
  border: 1px solid red;
}
